/* esperar el loading */
.loader-overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-spinner {
  font-family: Cyber;
  font-size: 2.5rem;
  color: #fcee09;
  animation: flicker 1.2s infinite;
}
