.radial-menu {
  position: relative;
  width: 100%;
  height: 50vh;
  margin-top: 2vh;
  z-index: 3;
}

.center-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px !important;
  height: 50px !important;
  font-size: 1.2rem !important;
  z-index: 3;
}

.radial-items {
  position: absolute;
  inset: 0;
  z-index: 2;
}

.radial-item {
  width: 220px !important;
  height: 50px !important;
  font-size: 1rem !important;
  cursor: pointer;
}

.radial-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Transiciones de aparición */
.radial-enter-from,
.radial-leave-to {
  opacity: 0;
  transform: scale(0.2);
  filter: blur(8px) brightness(1.5);
}

.radial-enter-to,
.radial-leave-from {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
}

.radial-enter-active,
.radial-leave-active {
  transition: all 0.6s ease-out;
}

@media (max-width: 768px) {
  .radial-menu {
    height: 60vh;
  }
}
